body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(200,200,240);
  height: 200px;
  width: 100%;
  text-align: center;
  display: grid;
  align-items: center;
}
.user{
  float: right;
  list-style-type: none;
}

.user li{
  float: left;
  padding: 10px 10px 8px 10px;
  font-size: 140%;
  /* border-right: 1px solid rgb(180,80,80); */
  cursor: pointer;
}

.user li:hover{
  color: rgb(180,80,80);
}

.login, .register{
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 30px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
}

.register{
  height: 270px;
}

.h3-login, .h3-register{
  color: rgb(140,140,140);
  text-align: center;
}

form > input{
  border: 1px solid rgb(180,80,80);
  padding: 10px;
  margin: 0 0 10px 0;
}

.container1, .container2{
  position: absolute;
  display: grid;
  align-items: center;
  top: 0px;
  height: 1500px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 200;
}

.wrapper{
  width: 45%;
  margin: 50px auto;
  text-align: center;
}

#title{
  margin: 0 0 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(140,140,140);
}

#content{
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(140,140,140);
}

#send-btn{
  margin: 20px 0 0 0;
  padding: 10px;
  width: 100px;
  background-color: rgba(200,200,240, 0.5);
  border: 1px solid rgb(140,140,140);
  cursor: pointer;
}

.post{
  width: 100%;
  background-color: rgb(230,230,230);
  min-height: 110px;
  padding: 10px;
  margin: 30px 0 0 0;
}

.post-title{
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgb(180,80,80);
}

.post-content{
  padding: 0 20px 0 20px;
  text-align: left;
  font-size: 110%;
}

.post-date{
  margin-right: 10px;
}

.delete-btn{
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  color: rgb(255,0,0);
  font-weight: bolder;
}

.hidden{
  visibility: hidden;
  opacity: 0.0;
}

.blur{
  filter: blur(5px);
}
.active{
  background-color: rgba(0,0,0,0.6);
  color: rgb(180,80,80);
}

@media only screen and (max-width: 800px){
  .wrapper{
    width: 80%;
  }
}

@media only screen and (max-width: 600px){
  .wrapper{
    width: 90%;
    margin: 20px 0 0 10px;
  }

  header{
    height: 200px;
    margin: 0;
    padding: 0;
  }
  .user{
    float: none;
    margin: 0 auto;
  }
}
